<ion-header no-border>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-segment #iSegmentRegistros (ionChange)="segmentChangedRegistros( $event )" mode="md">
            <ion-segment-button value="entrada">
              <ion-label>Entrada</ion-label>
            </ion-segment-button>
            <ion-segment-button value="salida">
              <ion-label>Salida</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-searchbar (post)="eventListener( $event )"></app-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="registro === 'entrada'">
    <div [ngSwitch]="fase">
      <!-- Inicial -->
      <div *ngSwitchCase="'inicial'">
        <ion-list>
          <ion-item *ngFor="let paciente of listaCoincidenciasEntrada" (click)="chooseAlert( paciente._id )">
            <ion-avatar slot="start">
              <img src="{{ paciente.img }}" />
            </ion-avatar>
            <ion-label class="ion-text-capitalize">{{ paciente.name + ' ' + paciente.lastName }}</ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
      <!-- Intermedia -->
      <div *ngSwitchCase="'intermedia'">
        <ion-list>
          <ion-item *ngFor="let paciente of listaCoincidenciasEntrada" (click)="chooseAlert( paciente._id )">
            <ion-avatar slot="start">
              <img src="{{ paciente.img }}" />
            </ion-avatar>
            <ion-label class="ion-text-capitalize">{{ paciente.name + ' ' + paciente.lastName }}</ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
      <!-- Avanzada -->
      <div *ngSwitchCase="'avanzada'">
        <ion-list>
          <ion-item *ngFor="let paciente of listaCoincidenciasEntrada" (click)="chooseAlert( paciente._id )">
            <ion-avatar slot="start">
              <img src="{{ paciente.img }}" />
            </ion-avatar>
            <ion-label class="ion-text-capitalize">{{ paciente.name + ' ' + paciente.lastName }}</ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>


  <div *ngIf="registro === 'salida'">
    <div [ngSwitch]="fase">
      <!-- Inicial -->
      <div *ngSwitchCase="'inicial'">
        <ion-item *ngFor="let paciente of listaCoincidenciasSalida" (click)="chooseAlert( paciente )">
          <ion-avatar slot="start">
            <img src="{{ paciente.patient.img }}" />
          </ion-avatar>
          <ion-label class="ion-text-capitalize">{{ paciente.patient.name + ' ' + paciente.patient.lastName }}
          </ion-label>
          <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
        </ion-item>
      </div>
      <!-- Intermedia -->
      <div *ngSwitchCase="'intermedia'">
        <ion-list>
          <ion-item *ngFor="let paciente of listaCoincidenciasSalida" (click)="chooseAlert( paciente )">
            <ion-avatar slot="start">
              <img src="{{ paciente.patient.img }}" />
            </ion-avatar>
            <ion-label class="ion-text-capitalize">{{ paciente.patient.name + ' ' + paciente.patient.lastName }}
            </ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
      <!-- Avanzada -->
      <div *ngSwitchCase="'avanzada'">
        <ion-list>
          <ion-item *ngFor="let paciente of listaCoincidenciasSalida" (click)="chooseAlert( paciente )">
            <ion-avatar slot="start">
              <img src="{{ paciente.patient.img }}" />
            </ion-avatar>
            <ion-label class="ion-text-capitalize">{{ paciente.patient.name + ' ' + paciente.patient.lastName }}
            </ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>