<ion-header>
  <ion-toolbar>
    <ion-title>Signos Vitales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item button>
          <ion-avatar>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvmSaD884qKxGTWzc42HsTOs0snoEBNbk7Ym5_g5EppRO-n6d4"
            />
          </ion-avatar>
          <ion-label>Sergio Castellanos</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5 class="ion-padding">{{ today | date: "dd/MM/yyyy HH:MM" }}</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-toggle></ion-toggle>
              <ion-item>
                <ion-input type="number" placeholder="0"></ion-input>
                  <ion-label>/</ion-label>
                  <ion-input type="number" placeholder="0"></ion-input>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Presión Arterial</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-toggle></ion-toggle>
              <ion-item>
                <ion-input type="number" placeholder="0"></ion-input>
                  <ion-label>/</ion-label>
                  <ion-input type="number" placeholder="0"></ion-input>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Frecuencia Cardíaca</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-toggle></ion-toggle>
              <ion-item>
                <ion-input type="number" placeholder="0"></ion-input>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Saturación de oxígeno</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-toggle></ion-toggle>
              <ion-item>
                <ion-input type="number" placeholder="0"></ion-input>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Glucosa</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
