<ion-header no-border>
  <ion-toolbar>
    <ion-title>Reporte comida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ paciente.patient.img }}" />
      </ion-avatar>
      <ion-label>{{ paciente.patient.name + ' ' + paciente.patient.lastName }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-radio-group name="cantidadComida" (ionChange)="radioCantidadComida( $event )">
      <ion-list-header> ¿Cuánto comió? </ion-list-header>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label>Poco</ion-label>
              <ion-radio value="poco"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>Normal</ion-label>
              <ion-radio value="normal"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>Mucho</ion-label>
              <ion-radio value="mucho"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-radio-group name="tipoComida" (ionChange)="radioTipoComida( $event )">
      <ion-list-header>Tipo de comida</ion-list-header>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label>Papilla</ion-label>
              <ion-radio value="papilla"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>Normal</ion-label>
              <ion-radio value="normal"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label>Triturada</ion-label>
              <ion-radio value="triturada"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Independencia de asistencia</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-range pin snaps min="0" max="5" (ionChange)="ionRangeIndependencia($event)">
        <ion-icon size="small" slot="start" name="star" color="medium"></ion-icon>
        <ion-icon slot="end" name="star" color="medium"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Uso adecuado de cubiertos</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-range pin snaps min="0" max="5" (ionChange)="ionRangeCubiertos($event)">
        <ion-icon size="small" slot="start" name="star" color="medium"></ion-icon>
        <ion-icon slot="end" name="star" color="medium"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Capacidad de masticación sin disfagia</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-range pin snaps min="0" max="5" (ionChange)="ionRangeDisfagia($event)">
        <ion-icon size="small" slot="start" name="star" color="medium"></ion-icon>
        <ion-icon slot="end" name="star" color="medium"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button class="botonSalir" (click)="salirSinArgumentos()" expand="full">
          Salir
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="botonAceptar" (click)="salirConArgumentos()" expand="full">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>