<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="notifications">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Avisos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="assistance">
        <ion-icon name="checkbox-outline"></ion-icon>
        <ion-label>Asistencia</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="technical-support">
        <ion-icon name="medkit"></ion-icon>
        <ion-label>Soporte Técnico</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="signs">
        <ion-icon name="heart-half"></ion-icon>
        <ion-label>Signos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="summary">
        <ion-icon name="pie"></ion-icon>
        <ion-label>Resumen</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
