.contenedorPacientes {
    height: 20%;
    max-height: 20%;
}

.contenedorPostPacientes{
    height: 80%;
    max-height: 80%;
}

.contenedorGrid {
    margin: 0%;
    padding: 0%;
    padding-bottom: 1%;
    background-color: #0088cc;
}

.contenedorCol {
    margin: 0%;
    padding: 0%;
}

ion-segment {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-left: 90%;
    background-color: #0088cc;
    color:#E8F7F9;
}

ion-label {
    margin: 0%;
    padding: 0%;
    font-size: 80%;
}

.subtitulo{
    font-weight: bold;
}

*{
    font-size: small;
}

.ajustar-ancho{
    width: 35%;
}

.ajuste-tamaño{
    margin-top: 10%;
    width: 30%;
    align-self: center;
}

.margen{
    display: flex;
    flex-direction: column;
    margin: 15%;
    align-items: center;
}

ion-datetime{
    margin: 0px; 
    padding: 0px; 
    padding-left: 5%;
}

.texto-regular{
    font-weight: normal;
}

.ajuste-tamaño-datetime{
    width: 6%;
    margin-left: 3%;
}

.margen-izquierdo{
    margin-left: 5%;
}

.margen-izquierdo-chico{
    margin-left: 2%;
}

.margen-superior{
    margin-top: 10%;
}