<ion-header no-border>
  <ion-toolbar>
    <ion-title> Registro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedorPacientes">
    <ion-item *ngFor="let paciente of patients" lines="none">
      <ion-avatar slot="start">
        <img src="{{ paciente.img }}" />
      </ion-avatar>
      <ion-label class="pacienteSeleccionado">{{ paciente.name + ' ' + paciente.lastName }}</ion-label>
      <div *ngIf="paciente === pacienteSeleccionado">
        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </div>
    </ion-item>
  </div>
  <!-- </ion-content> -->

  <div class="contenedorPostPacientes">
    <ion-item>
      <ion-label class="subtitulo">Fecha:</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" cancel-text="Cancelar" done-text="Aceptar"
        placeholder="{{fechaSeleccionadaISOString}}" (ionChange)="dateChanged( $event.detail.value )"
        class="texto-regular">
      </ion-datetime>
      <img src="assets\img\calendario.png" class="ajuste-tamaño-datetime" />
    </ion-item>

    <ion-grid class="contenedorGrid">
      <ion-row>
        <ion-col class="contenedorCol">
          <ion-segment #iSegmentRegistros (ionChange)="segmentChangedRegistros( $event )" mode="md">
            <ion-segment-button checked value="general">
              <ion-label>General</ion-label>
            </ion-segment-button>
            <ion-segment-button value="vitalSigns">
              <ion-label>Signos <br />
                vitales</ion-label>
            </ion-segment-button>
            <ion-segment-button value="hygiene">
              <ion-label>Higiene</ion-label>
            </ion-segment-button>
            <ion-segment-button value="meal">
              <ion-label>Comida</ion-label>
            </ion-segment-button>
            <ion-segment-button value="behavior">
              <ion-label>Humor</ion-label>
            </ion-segment-button>
            <ion-segment-button value="phaseBinnacle">
              <ion-label>Fase</ion-label>
            </ion-segment-button>
            <ion-segment-button value="physioBinnacle">
              <ion-label>Fisioterapia</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- General -->
    <div [ngSwitch]="selectedInfo" class="margen-izquierdo">
      <div *ngSwitchCase="'general'">
        <div *ngIf="dailyRecordSeleccionado != undefined">
          <ion-list>
            <ion-item lines="none">
              <ion-label class="subtitulo"> Fecha: </ion-label>
              <ion-label> {{ fechaSeleccionadaISOString }} </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-label class="subtitulo"> Hora entrada: </ion-label>
              <ion-label> {{ horaEntrada }} </ion-label>
            </ion-item>

            <ion-item lines="none" *ngIf="horaSalida != undefined">
              <ion-label class="subtitulo"> Hora salida: </ion-label>
              <ion-label> {{ horaSalida }} </ion-label>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="dailyRecordSeleccionado == undefined">
          <app-not-found-message></app-not-found-message>
        </div>
      </div>

      <!-- Signos vitales -->
      <div *ngSwitchCase="'vitalSigns'">
        <div *ngIf="dailyRecordSeleccionado != undefined">
          <div *ngIf="dailyRecordSeleccionado.vitalSigns.length >0">
            <ion-list *ngFor="let registro of dailyRecordSeleccionado.vitalSigns">
              <ion-item lines="none" *ngIf="registro.valueB != undefined">
                <ion-label class="subtitulo"> {{registro.vitalSign}} </ion-label>
                <ion-label class="margen-izquierdo">
                  {{registro.value + "/" +registro.valueB}}
                </ion-label>
              </ion-item>
              <ion-item lines="none" *ngIf="registro.valueB == undefined">
                <ion-label class="subtitulo"> {{registro.vitalSign}} </ion-label>
                <ion-label class="margen-izquierdo">
                  {{registro.value}}
                </ion-label>
              </ion-item>
            </ion-list>
          </div>

          <div *ngIf="dailyRecordSeleccionado.vitalSigns.length == 0">
            <app-not-found-message></app-not-found-message>
          </div>
        </div>

        <div *ngIf="dailyRecordSeleccionado == undefined">
          <app-not-found-message></app-not-found-message>
        </div>
      </div>

      <!-- Higiene -->
      <div *ngSwitchCase="'hygiene'">
        <div *ngIf="dailyRecordSeleccionado != undefined">
          <div *ngIf="dailyRecordSeleccionado.hygiene.length >0">
            <ion-list>
              <ion-item lines="none">
                <ion-label class="subtitulo"> </ion-label>
                <ion-label class="subtitulo" class="margen-izquierdo-chico">
                  Observaciones
                </ion-label>
                <ion-label class="subtitulo" class="margen-izquierdo-chico">
                  Horario
                </ion-label>
              </ion-item>

              <ion-item lines="none" *ngFor="let registro of dailyRecordSeleccionado.hygiene">
                <ion-label class="subtitulo"> {{registro.name}} </ion-label>
                <ion-label class="margen-izquierdo-chico">
                  {{registro.observation}}
                </ion-label>
                <ion-label class="margen-izquierdo-chico"> {{registro.time}} </ion-label>
              </ion-item>
            </ion-list>
          </div>

          <div *ngIf="dailyRecordSeleccionado.hygiene.length == 0">
            <app-not-found-message></app-not-found-message>
          </div>
        </div>

        <div *ngIf="dailyRecordSeleccionado == undefined">
          <app-not-found-message></app-not-found-message>
        </div>
      </div>

      <!-- Comida -->
      <div *ngSwitchCase="'meal'">
        <div *ngIf="dailyRecordSeleccionado != undefined">
          <div *ngIf="dailyRecordSeleccionado.meal != undefined">
            <ion-list>
              <ion-item lines="none">
                <ion-label class="subtitulo"> </ion-label>
                <ion-label class="subtitulo" class="margen-izquierdo-chico">
                  Observaciones
                </ion-label>
              </ion-item>

              <ion-item lines="none" *ngIf="dailyRecordSeleccionado.meal.foodType != undefined">
                <ion-label class="subtitulo"> Tipo de comida </ion-label>
                <ion-label class="margen-izquierdo-chico">
                  {{dailyRecordSeleccionado.meal.foodType}}
                </ion-label>
              </ion-item>

              <ion-item lines="none" *ngIf="dailyRecordSeleccionado.meal.chewingPerformance != undefined">
                <ion-label class="subtitulo"> Masticado </ion-label>
                <ion-label class="margen-izquierdo-chico">
                  {{dailyRecordSeleccionado.meal.chewingPerformance + "/5"}}
                </ion-label>
              </ion-item>

              <ion-item lines="none" *ngIf="dailyRecordSeleccionado.meal.independence != undefined">
                <ion-label class="subtitulo"> Independencia </ion-label>
                <ion-label class="margen-izquierdo-chico">
                  {{dailyRecordSeleccionado.meal.independence + "/5"}}
                </ion-label>
              </ion-item>

              <ion-item lines="none" *ngIf="dailyRecordSeleccionado.meal.quantity != undefined">
                <ion-label class="subtitulo"> Cantidad </ion-label>
                <ion-label class="margen-izquierdo-chico">
                  {{dailyRecordSeleccionado.meal.quantity + "/5"}}
                </ion-label>
              </ion-item>

              <ion-item lines="none" *ngIf="dailyRecordSeleccionado.meal.functional != undefined">
                <ion-label class="subtitulo"> Funcional </ion-label>
                <ion-label class="margen-izquierdo-chico">
                  {{dailyRecordSeleccionado.meal.functional + "/5"}}
                </ion-label>
              </ion-item>

              <ion-item lines="none" *ngIf="dailyRecordSeleccionado.collation != undefined">
                <ion-label class="subtitulo"> Colación </ion-label>
                <ion-label class="margen-izquierdo-chico">
                  {{dailyRecordSeleccionado.collation + "/5"}}
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
          <div *ngIf="dailyRecordSeleccionado.meal == undefined">
            <app-not-found-message></app-not-found-message>
          </div>
        </div>

        <div *ngIf="dailyRecordSeleccionado == undefined">
          <app-not-found-message></app-not-found-message>
        </div>
      </div>

      <!-- Humor -->
      <div *ngSwitchCase="'behavior'">
        <div *ngIf="dailyRecordSeleccionado != undefined">
          <ion-list *ngIf="dailyRecordSeleccionado.behavior.length > 0">
            <ion-item lines="none">
              <ion-label class="subtitulo"> Actitud </ion-label>
              <ion-label class="subtitulo" class="margen-izquierdo-chico">
                Calificación
              </ion-label>
              <ion-label class="subtitulo" class="margen-izquierdo-chico">
                Horario
              </ion-label>
            </ion-item>
            <ion-item *ngFor="let registro of dailyRecordSeleccionado.behavior" lines="none">
              <ion-label> {{registro.name}} </ion-label>
              <ion-label class="margen-izquierdo-chico">
                {{registro.score + "/5"}}
              </ion-label>
              <ion-label class="margen-izquierdo-chico"> {{registro.time}} </ion-label>
            </ion-item>
          </ion-list>
          <div *ngIf="dailyRecordSeleccionado.behavior.length == 0">
            <app-not-found-message></app-not-found-message>
          </div>
        </div>
        <div *ngIf="dailyRecordSeleccionado == undefined">
          <app-not-found-message></app-not-found-message>
        </div>
      </div>

      <!-- Fase -->
      <div *ngSwitchCase="'phaseBinnacle'">
        <div *ngIf="dailyRecordSeleccionado != undefined">
          <ion-list *ngIf="dailyRecordSeleccionado.phaseBinnacle.status == true">
            <ion-item lines="none">
              <ion-label class="subtitulo"> Identifica la fecha </ion-label>
              <ion-label class="margen-izquierdo-chico">
                {{dailyRecordSeleccionado.phaseBinnacle.date}}
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label> Se orienta correctamente </ion-label>
              <ion-label class="margen-izquierdo-chico">
                {{dailyRecordSeleccionado.phaseBinnacle.orientation}}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label> Observaciones </ion-label>
              <ion-label class="margen-izquierdo-chico">
                {{dailyRecordSeleccionado.phaseBinnacle.observation}}
              </ion-label>
            </ion-item>
            <div class="margen-superior">
              <ion-label class="subtitulo margen-izquierdo margen-superior">Actividades</ion-label>
              <ion-item *ngFor="let registro of dailyRecordSeleccionado.phaseBinnacle.activities" lines="none">
                <ion-item lines="none">
                  <div class="ajustar-ancho">{{registro.name}}</div>
                  <ion-label class="margen-izquierdo">
                    {{registro.performance + "/5"}}
                  </ion-label>
                  <ion-label class="margen-izquierdo">
                    {{registro.classification}}
                  </ion-label>
                </ion-item>
              </ion-item>
            </div>
          </ion-list>
          <div *ngIf="dailyRecordSeleccionado.phaseBinnacle.status == false">
            <app-not-found-message></app-not-found-message>
          </div>
        </div>
        <div *ngIf="dailyRecordSeleccionado == undefined">
          <app-not-found-message></app-not-found-message>
        </div>
      </div>

      <!-- Fisioterapia -->
      <div *ngSwitchCase="'physioBinnacle'">
        <div *ngIf="dailyRecordSeleccionado != undefined">
          <ion-list *ngIf="dailyRecordSeleccionado.physioBinnacle != undefined">
            <div *ngIf="dailyRecordSeleccionado.physioBinnacle.status != false">
              <ion-item lines="none">
                <ion-label class="subtitulo"> Fecha inicio </ion-label>
                <ion-label class="margen-izquierdo">
                  {{formatearHora(dailyRecordSeleccionado.physioBinnacle.startTime)}}
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="subtitulo"> Fecha fin </ion-label>
                <ion-label class="margen-izquierdo">
                  {{formatearHora(dailyRecordSeleccionado.physioBinnacle.endTime)}}
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="subtitulo"> Humor inicial </ion-label>
                <ion-label class="margen-izquierdo">
                  {{dailyRecordSeleccionado.physioBinnacle.startMood}}
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="subtitulo"> Humor final </ion-label>
                <ion-label class="margen-izquierdo">
                  {{dailyRecordSeleccionado.physioBinnacle.endMood}}
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="subtitulo"> Activación física </ion-label>
                <ion-label class="margen-izquierdo">
                  {{ dailyRecordSeleccionado.physicalActivation + "/5"}}
                </ion-label>
              </ion-item>

              <div *ngIf="dailyRecordSeleccionado.phaseBinnacle.activities.length>0" class="margen-superior">
                <ion-item lines="none">
                  <ion-label class="subtitulo">Actividad</ion-label>
                  <ion-label class="subtitulo">Desempeño</ion-label>
                  <ion-label class="subtitulo">Clasificación</ion-label>
                </ion-item>
                <ion-list *ngFor="let registro of dailyRecordSeleccionado.physioBinnacle.activities">
                  <ion-item>
                    <ion-label>{{registro.name}}</ion-label>
                    <ion-label>{{registro.performance + "/5"}}</ion-label>
                    <ion-label>{{registro.classification}}</ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </ion-list>
          <div *ngIf="dailyRecordSeleccionado.physioBinnacle.status != true">
            <app-not-found-message></app-not-found-message>
          </div>
          <div *ngIf="dailyRecordSeleccionado.physioBinnacle == undefined">
            <app-not-found-message></app-not-found-message>
          </div>
        </div>
        <div *ngIf="dailyRecordSeleccionado == undefined">
          <app-not-found-message></app-not-found-message>
        </div>
      </div>

    </div>
  </div>
</ion-content>