.contenedorPacientes {
    height: 12%;
    max-height: 12%;
}

.contenedorGrid {
    margin: 0%;
    padding: 0%;
    padding-bottom: 1%;
    background-color: #0088cc;
}

.contenedorCol {
    margin: 0%;
    padding: 0%;
}

.subtitulo{
    font-weight: bold;
}

ion-segment {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-left: 90%;
    background-color: #0088cc;
    color:#E8F7F9;
}

ion-label {
    font-size: 80%;
}


*{
    font-size: small;
}