<ion-header no-border>
  <ion-toolbar>
    <ion-title> Registro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item *ngFor="let paciente of patients" (click)="seleccionarPaciente( paciente )">
      <ion-avatar slot="start">
        <img src="{{ paciente.img }}" />
      </ion-avatar>
      <ion-label class="ion-text-capitalize">{{ paciente.name + ' ' + paciente.lastName }}</ion-label>
      <div *ngIf="paciente === pacienteSeleccionado">
        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </div>
    </ion-item>
  </div>

  <ion-item>    
    <ion-icon name="calendar"></ion-icon>
    <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Selecione fecha" (ionChange)="dateChanged( $event )"></ion-datetime>
  </ion-item>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-segment #iSegmentRegistros
          (ionChange)="segmentChangedRegistros( $event )"
                      mode="md">
          <ion-segment-button value="general">
            <ion-label>General</ion-label>
          </ion-segment-button>
          <ion-segment-button value="vitalSigns">
            <ion-label>Signos vitales</ion-label>
          </ion-segment-button>
          <ion-segment-button value="hygiene">
            <ion-label>Higiene</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div [ngSwitch]="selectedInfo">
    <div *ngSwitchCase="'general'">
      <h3>Información general</h3>
      <div *ngIf = 'dailyRecordSeleccionado != undefined'>
        <table class="default">
          <tr>
            <td>Fecha</td>
            <td colspan="3">{{ fecha }}</td>
          </tr>
          <tr>
          <td colspan="3">Hora entrada</td>
            <td>{{ horaEntrada }}</td>
          </tr>
          <tr>
          <td>Hora salida</td>
            <td colspan="3">{{ horaSalida }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngSwitchCase="'vitalSigns'">
      <p></p>
    </div>
    <div *ngSwitchCase="'hygiene'">
      Higiene
    </div>
  </div>
  
</ion-content>