<ion-header no-border>
  <ion-toolbar>
    <app-searchbar (post)="eventListener( $event )"></app-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="pacientes.length > 0">
    <ion-item *ngFor="let paciente of pacientes" (click)="openSignos( paciente )">
      <ion-avatar slot="start">
        <img src="{{ paciente.patient.img }}" />
      </ion-avatar>
      <ion-label class="ion-text-capitalize">{{ paciente.patient.name + ' ' + paciente.patient.lastName }}</ion-label>
      <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>