<ion-header>
  <ion-toolbar>
    <ion-title>Agregar aviso de incidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="margen-superior">
  <ion-grid class="ion-padding" fixed="fixed">
    <!-- Prioridad -->
    <ion-item lines="none">
      <ion-segment mode="ios" scrollable="false" name="btnPrioridad" (ionChange)="cambioPrioridad($event)"
        class="orientacion-columna">
        <ion-label class="subtitulo">Prioridad</ion-label>
        <div class="orientacion-fila">
          <ion-segment-button checked class="botonPrioridad" value="Normal">
            <ion-label class="alineado-centro">Normal</ion-label>
          </ion-segment-button>
          <ion-segment-button class="botonPrioridad" value="Alta">
            <ion-label class="alineado-centro">Alta</ion-label>
          </ion-segment-button>
        </div>
      </ion-segment>
    </ion-item>

    <!-- Vigencia -->
    <ion-item class="margen-superior">
      <ion-segment class="orientacion-columna">
        <ion-label class="subtitulo">Vigencia</ion-label>
        <div class="orientacion">
          <ion-label class="fuente-regular margen-derecho">Fecha:</ion-label>
          <ion-datetime displayFormat="DD/MMMM/YYYY" picker-format="DD/MMMM/YYYY"
            monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
            min="2020" max="2090-10-31" [(ngModel)]="ExpirationDate" class="fuente-regular" cancel-text="Cancelar"
            done-text="Aceptar"></ion-datetime>
          <img src="assets\img\calendario.png" class="ajuste-tamaño" />
        </div>
      </ion-segment>
    </ion-item>

    <!-- Descripcion -->
    <ion-item>
      <ion-segment class="orientacion-columna">
        <ion-label class="subtitulo margen-derecho margen-superior">
          Descripción</ion-label>
        <ion-input autoGrow="autoGrow" placeholder="Ingrese una descripción" [(ngModel)]="textDescripcion" type="text">
        </ion-input>
      </ion-segment>
    </ion-item>

    <!-- Paciente -->
    <ion-item class="padding-inferior">
      <ion-segment class="orientacion-columna">
        <ion-label class="subtitulo-margen margen-derecho margen-superior">Paciente</ion-label>
        <ion-select (ionChange)="selecionarPaciente($event)" placeholder="Seleccione un paciente" okText="LISTO"
          cancelText="CANCELAR">
          <ion-select-option *ngFor="let paciente of pacientes" [value]="paciente._id">
            <ion-avatar slot="start">
              <img src="{{ paciente.img }}" />
              <ion-label class="ion-text-capitalize">
                {{ paciente.lastName + ', ' + paciente.name }}
              </ion-label>
            </ion-avatar>
          </ion-select-option>
        </ion-select>
      </ion-segment>
    </ion-item>

    <!-- Tipo de aviso -->
    <ion-item class="subtitulo margen-superior" lines="none">
      <ion-label>Tipo de aviso</ion-label>
    </ion-item>

    <ion-segment mode="ios" scrollable="false" name="btnTipo" (ionChange)="tipoAviso($event)">
      <ion-grid>
        <ion-row>
          <ion-col class="contenedorCol">
            <ion-segment-button value="Conducta">
              <ion-label class="alineado-centro">Conducta</ion-label>
              <ion-icon name="clipboard"></ion-icon>
            </ion-segment-button>
          </ion-col>
          <ion-col class="contenedorCol">
            <ion-segment-button value="Salud">
              <ion-label class="alineado-centro">Salud</ion-label>
              <ion-icon name="heart-empty"></ion-icon>
            </ion-segment-button>
          </ion-col>
          <ion-col class="contenedorCol">
            <ion-segment-button value="Higiene">
              <ion-label class="alineado-centro">Higiene</ion-label>
              <ion-icon name="water"></ion-icon>
            </ion-segment-button>
          </ion-col>
          <ion-col class="contenedorCol">
            <ion-segment-button value="Fisica">
              <ion-label class="alineado-centro">Fisica</ion-label>
              <ion-icon name="body"></ion-icon>
            </ion-segment-button>
          </ion-col>
          <ion-col class="contenedorCol">
            <ion-segment-button value="Sueño">
              <ion-label class="alineado-centro">Sueño</ion-label>
              <ion-icon name="bed"></ion-icon>
            </ion-segment-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-segment>

    <ion-item class="subtitulo margen-superior" lines="none">
      <ion-label>Áreas de notificación</ion-label>
    </ion-item>

    <!--Area de notificacion -->
    <ion-list lines="none" name="btnArea" align-items-center>
      <ion-item (ionChange)="listenerArea($event)" lines="none">
        <ion-label>Enfermería</ion-label>
        <ion-icon name="medkit" slot="start"></ion-icon>
        <ion-checkbox slot="end" value="ENFERMERIA"></ion-checkbox>
      </ion-item>
      <ion-item (ionChange)="listenerArea($event)" lines="none">
        <ion-label>Fisioterapia</ion-label>
        <ion-icon name="basketball" slot="start"></ion-icon>
        <ion-checkbox slot="end" value="FISIOTERAPIA"></ion-checkbox>
      </ion-item>
      <ion-item (ionChange)="listenerArea($event)" lines="none">
        <ion-label>Nutrición</ion-label>
        <ion-icon name="pizza" slot="start"></ion-icon>
        <ion-checkbox slot="end" value="NUTRICION"></ion-checkbox>
      </ion-item>
      <ion-item (ionChange)="listenerArea($event)" lines="none">
        <ion-label>Fase Inicial</ion-label>
        <ion-icon name="git-branch" slot="start"></ion-icon>
        <ion-checkbox slot="end" value="FASE_INICIAL"></ion-checkbox>
      </ion-item>
      <ion-item (ionChange)="listenerArea($event)" lines="none">
        <ion-label>Fase Intermedia</ion-label>
        <ion-icon name="git-branch" slot="start"></ion-icon>
        <ion-checkbox slot="end" value="FASE_INTERMEDIA"></ion-checkbox>
      </ion-item>
      <ion-item (ionChange)="listenerArea($event)" lines="none">
        <ion-label>Fase Avanzada</ion-label>
        <ion-icon name="git-branch" slot="start"></ion-icon>
        <ion-checkbox slot="end" value="FASE_AVANZADA"></ion-checkbox>
      </ion-item>
      <ion-item (ionChange)="listenerArea($event)" lines="none">
        <ion-label>Higiene</ion-label>
        <ion-icon name="water" slot="start"></ion-icon>
        <ion-checkbox slot="end" value="HIGIENE"></ion-checkbox>
      </ion-item>
      <ion-item (ionChange)="listenerArea($event)">
        <ion-label>Familiar</ion-label>
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-checkbox slot="end" value="FAMILIAR"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-button class="botonSalir" type="button" expand="block" (click)="salir()">
            Salir</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="botonAceptar" type="button" expand="block" (click)="enviar()">
            Enviar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>