<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back"></ion-back-button>
        </ion-buttons> -->

        <ion-title>Agregar aviso de incidencia</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="ion-padding" fixed="fixed">

        <ion-item-divider class="subtitulo">
            <ion-label>Prioridad</ion-label>
        </ion-item-divider>

        <!-- Botones "prioridad" -->
        <ion-segment mode="ios" scrollable="false" name="btnPrioridad" (ionChange)="cambioPrioridad($event)">
            <ion-grid class="contenedorGrid">
                <ion-row>
                    <ion-col class="contenedorCol">
                        <ion-segment-button checked class="botonPrioridad" value='Normal'>
                            <ion-label>Normal</ion-label>
                        </ion-segment-button>
                    </ion-col>
                    <ion-col class="contenedorCol">
                        <ion-segment-button class="botonPrioridad" value='Alta'>
                            <ion-label>Alta</ion-label>
                        </ion-segment-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-segment>


        <!-- Boton prioridad y vigencia-->
        <!-- <ion-row> -->
        <!-- <ion-item>
                <ion-label>Prioridad:</ion-label>
                <ion-toggle [(ngModel)]=" tglPrioridad" color="danger" slot="end">
                                </ion-toggle>
                                </ion-item> -->
        <!-- <ion-col>
                <ion-item>
                    <ion-datetime displayFormat="DDDD, DD/MMMM/YYYY"
                        dayNames="Domingo, Lunes, Martes, Miércoles, Jueves, Viernes, Sábado"
                        monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                        min="2020" max="2090-10-31" cancelText="Cancelar" doneText="Listo" placeholder="Vigencia"
                        [(ngModel)]="ExpirationDate" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
                </ion-item>
            </ion-col> -->
        <!-- </ion-row> -->

        <ion-item-divider class="subtitulo">
            <ion-label>Vigencia</ion-label>
        </ion-item-divider>

        <ion-item class="contenedorSelect">
            <ion-datetime displayFormat="DDDD, DD/MMMM/YYYY"
                dayNames="Domingo, Lunes, Martes, Miércoles, Jueves, Viernes, Sábado"
                monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                min="2020" max="2090-10-31" cancelText="Cancelar" doneText="Listo" placeholder="Seleccione una vigencia"
                [(ngModel)]="ExpirationDate" cancel-text="Cancelar" done-text="Aceptar"></ion-datetime>
        </ion-item>

        <!-- Cuadro de texto "Descripcion" -->
        <ion-item-divider class="subtitulo">
            <ion-label>Descripción</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-input autoGrow="autoGrow" placeholder="Ingrese una descripción" [(ngModel)]="textDescripcion"
                type="text">
            </ion-input>
        </ion-item>

        <!-- <ion-row>
            <ion-col>
                <ion-input autoGrow="autoGrow" placeholder="Ingrese una descripción" [(ngModel)]="textDescripcion"
                    type="text">
                </ion-input>                
            </ion-col>
        </ion-row> -->




        <!-- Selector paciente -->

        <ion-item-divider class="subtitulo">
            <ion-label>Paciente</ion-label>
        </ion-item-divider>
        <ion-item class="contenedorSelect">
            <ion-select (ionChange)="selecionarPaciente($event)" placeholder="Seleccione un paciente" okText="LISTO"
                cancelText="CANCELAR">
                <ion-select-option *ngFor="let paciente of pacientes" [value]="paciente._id">
                    <ion-avatar slot="start">
                        <img src="{{ paciente.img }}" />
                        <ion-label class="ion-text-capitalize">
                            {{ paciente.lastName + ', ' + paciente.name }}
                        </ion-label>
                    </ion-avatar>
                </ion-select-option>
            </ion-select>
        </ion-item>

        <!-- 
      <ion-select *ngFor="let paciente of pacientes" value="--Seleccione paciente--">
        <ion-select-option value="pacientes._id">
        </ion-select-option>
      </ion-select>
  -->

        <ion-item-divider class="subtitulo">
            <ion-label>Tipo de aviso</ion-label>
        </ion-item-divider>

        <!-- Botones "tipo" -->
        <ion-segment mode="ios" scrollable="false" name="btnTipo" (ionChange)="tipoAviso($event)">
            <ion-grid class="contenedorGrid">
                <ion-row>
                    <ion-col class="contenedorCol">
                        <ion-segment-button value='Conducta'>
                            <ion-label>Conducta</ion-label>
                            <ion-icon name="clipboard"></ion-icon>
                        </ion-segment-button>
                    </ion-col>
                    <ion-col class="contenedorCol">
                        <ion-segment-button value='Salud'>
                            <ion-label>Salud</ion-label>
                            <ion-icon name="heart-empty"></ion-icon>
                        </ion-segment-button>
                    </ion-col>
                    <ion-col class="contenedorCol">
                        <ion-segment-button value='Higiene'>
                            <ion-label>Higiene</ion-label>
                            <ion-icon name="water"></ion-icon>
                        </ion-segment-button>
                    </ion-col>
                    <ion-col class="contenedorCol">
                        <ion-segment-button value='Fisica'>
                            <ion-label>Fisica</ion-label>
                            <ion-icon name="body"></ion-icon>
                        </ion-segment-button>
                    </ion-col>
                    <ion-col class="contenedorCol">
                        <ion-segment-button value='Sueño'>
                            <ion-label>Sueño</ion-label>
                            <ion-icon name="bed"></ion-icon>
                        </ion-segment-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-segment>

        <ion-item-divider class="subtitulo">
            <ion-label>Áreas de notificación</ion-label>
        </ion-item-divider>

        <!-- Botones "Area de notificacion" -->
        <ion-list name="btnArea" align-items-center>
            <ion-item (ionChange)="listenerArea($event)">
                <ion-label>Enfermería</ion-label>
                <ion-icon name="medkit" slot="start"></ion-icon>
                <ion-checkbox slot="end" value="ENFERMERIA"></ion-checkbox>
            </ion-item>
            <ion-item (ionChange)="listenerArea($event)">
                <ion-label>Fisioterapia</ion-label>
                <ion-icon name="basketball" slot="start"></ion-icon>
                <ion-checkbox slot="end" value="FISIOTERAPIA"></ion-checkbox>
            </ion-item>
            <ion-item (ionChange)="listenerArea($event)">
                <ion-label>Nutrición</ion-label>
                <ion-icon name="pizza" slot="start"></ion-icon>
                <ion-checkbox slot="end" value="NUTRICION"></ion-checkbox>
            </ion-item>
            <ion-item (ionChange)="listenerArea($event)">
                <ion-label>Fase Inicial</ion-label>
                <ion-icon name="git-branch" slot="start"></ion-icon>
                <ion-checkbox slot="end" value="FASE_INICIAL"></ion-checkbox>
            </ion-item>
            <ion-item (ionChange)="listenerArea($event)">
                <ion-label>Fase Intermedia</ion-label>
                <ion-icon name="git-branch" slot="start"></ion-icon>
                <ion-checkbox slot="end" value="FASE_INTERMEDIA"></ion-checkbox>
            </ion-item>
            <ion-item (ionChange)="listenerArea($event)">
                <ion-label>Fase Avanzada</ion-label>
                <ion-icon name="git-branch" slot="start"></ion-icon>
                <ion-checkbox slot="end" value="FASE_AVANZADA"></ion-checkbox>
            </ion-item>
            <ion-item (ionChange)="listenerArea($event)">
                <ion-label>Higiene</ion-label>
                <ion-icon name="water" slot="start"></ion-icon>
                <ion-checkbox slot="end" value="HIGIENE"></ion-checkbox>
            </ion-item>
            <ion-item (ionChange)="listenerArea($event)">
                <ion-label>Familiar</ion-label>
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-checkbox slot="end" value="FAMILIAR"></ion-checkbox>
            </ion-item>
        </ion-list>

        <ion-grid fixed>
            <ion-row>
                <ion-col>
                    <ion-button class="botonSalir" type="button" expand="block" (click)="salir()">
                        Salir</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="botonAceptar" type="button" expand="block" (click)="enviar()">
                        Enviar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-grid>
</ion-content>