ion-segment-button{
    --background: #3880ff;
    --color: #E8F7F9;
    --background-checked:#18485e;
    --color-checked: white;
}
.contenedorSelect {
    padding: 0%;
    margin: 0%;
}

ion-segment-button.botonPrioridad {
    height: 5%;
    max-height: 5% !important;
}

ion-select {
    min-width: 100% !important; 
    margin: 0%;
    padding: 0%;
}

ion-select-option {
    margin: 0%;
    padding: 0%;
}

ion-datetime {
    margin: 0%;
    padding: 0%;
}
