ion-segment-button{
    //--background: #0088cc;
    --background: #3880ff;
    --color: #E8F7F9;
    --background-checked:#18485e;
    --color-checked: white;
}

.botonSalir {
    --background:#d84557;
}

.botonAceptar {
    --background:#62b269;
}




// ion-content {
//     --background: red;
// }

// .contenedorGrid {
//     margin: 0%;
//     padding: 0%;
//     // padding-bottom: 1%;
//     // background-color: #0088cc;
// }

// .contenedorCol {
//     margin: 0%;
//     padding: 0%;
// }