ion-segment-button{
    margin-inline:3%;
    --background: #3880ff;
    --color: #E8F7F9;
    --background-checked:#18485e;
    --color-checked: white;
}

.botonSalir {
    --background:#d84557;
}

.botonAceptar {
    --background:#62b269;
}