ion-col {
    padding: 0%;
}

.ajuste-tamaño{
    width: 6%;
    height: auto;
    margin-left: 3%;
}

.ajuste-iconos{
    width: 30%;
    height: auto;
    align-self: center;
    padding-left: 5%;
}