ion-card{
    --background: white;
}

ion-input{
    --background: white;
}

.ion-item-background{
    --background: white;
}

.ajuste-tamaño-texto{
    text-size-adjust: 40%;
}

.orientacion{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
    font-weight: bold;
}

ion-datetime{
    margin: 0px; 
    padding: 0px; 
    padding-left: 5%;
}

.texto-regular{
    font-weight: normal;
}

.ajuste-tamaño{
    width: 6%;
    height: 6%;
    margin-left: 3%;
}