<app-searchbar (post)="eventListener( $event )"></app-searchbar>

<ion-content>
        <!-- <img src="https://banner2.cleanpng.com/20180920/yko/kisspng-computer-icons-portable-network-graphics-avatar-ic-5ba3c66df14d32.3051789815374598219884.jpg"> -->

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let paciente of pacientes" (click)="openModal( paciente )">
        <ion-avatar slot="start">
          <img src="{{ paciente.patient.img }}" />
        </ion-avatar>
        <ion-label class="ion-text-capitalize">{{ paciente.patient.name + ' ' + paciente.patient.lastName }}</ion-label>
        <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>