<ion-item (click)="redireccionar('ENFERMERIA')">
  <ion-icon name="medkit"></ion-icon>
  <ion-label>Enfermería</ion-label>
</ion-item>
<ion-item (click)="redireccionar('FISIOTERAPIA')">
  <ion-icon name="basketball"></ion-icon>
  <ion-label>Fisioterapia</ion-label>
</ion-item>
<ion-item (click)="redireccionar('NUTRICION')">
  <ion-icon name="pizza"></ion-icon>
  <ion-label>Nutrición</ion-label>
</ion-item>
<ion-item (click)="redireccionar('FASE_INICIAL')">
  <ion-icon name="git-branch"></ion-icon>
  <ion-label>Fase inicial</ion-label>
</ion-item>
<ion-item (click)="redireccionar('FASE_INTERMEDIA')">
  <ion-icon name="git-branch"></ion-icon>
  <ion-label>Fase intermedia</ion-label>
</ion-item>
<ion-item (click)="redireccionar('FASE_AVANZADA')">
  <ion-icon name="git-branch"></ion-icon>
  <ion-label>Fase avanzada</ion-label>
</ion-item>
<ion-item (click)="redireccionar('HIGIENE')">
  <ion-icon name="water"></ion-icon>
  <ion-label>Higiene</ion-label>
</ion-item>