<ion-header> 
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"></ion-button>
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-buttons>
    <ion-title>Lista de pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-searchbar></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-segment>
            <ion-segment-button checked>
              <ion-label>Inicial</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>Intermedio</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>Avanzado</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
       <ion-item button>
          <ion-avatar>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvmSaD884qKxGTWzc42HsTOs0snoEBNbk7Ym5_g5EppRO-n6d4">
          </ion-avatar>
          <ion-label>Sergio Castellanos</ion-label>
       </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
