.contenedor {
    display: flex;
    justify-content: center;
}

.margen{
    margin: 15%;
    text-align: center;
}

.ajuste-tamaño{
    margin-top: 10%;
    width: 30%;
    align-self: center;
}

.margen-superior{
    margin-top: 5%;
}

.fondo-blanco{
    --background: white;
    background-color: white;
}

ion-label{
    margin-top: 0%;
    padding-top: 0%;
}