<ion-header no-border>
  <ion-toolbar>
    <ion-title>Intervención Terapéutica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="emptyDailyRecords === false">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{ paciente.patient.img }}" />
        </ion-avatar>
        <ion-label>{{ paciente.patient.name + ' ' + paciente.patient.lastName }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-card  class="fondo-blanco">
            <ion-item  class="fondo-blanco">
              <ion-label class="fondo-blanco">Ubicación</ion-label>
              <ion-toggle slot="end" [(ngModel)]="toggleUbicacion"></ion-toggle>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="fondo-blanco">
            <ion-item class="fondo-blanco">
              <ion-label class="fondo-blanco">Fecha</ion-label>
              <ion-toggle slot="end" [(ngModel)]="toggleFecha"></ion-toggle>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-list-header>
        <ion-label>Tipo de Actividades</ion-label>
      </ion-list-header>

      <!-- Atención -->
      <ion-item *ngIf="atencion.length > 0" lines="none">
        <ion-label>Atención</ion-label>
        <ion-toggle [(ngModel)]="toggleAtencion" slot="end"></ion-toggle>
      </ion-item>
      <div *ngIf="toggleAtencion" class="ion-padding">
        <ion-item *ngFor="let item of atencion" lines="none">
          <ion-label>{{ item.name }}</ion-label>
          <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
          <ion-range *ngIf="item.selected" pin snaps min="0" max="5" [(ngModel)]="item.score"></ion-range>
        </ion-item>
      </div>

      <!-- Calculo -->
      <ion-item *ngIf="calculo.length > 0" lines="none">
        <ion-label>Cálculo</ion-label>
        <ion-toggle [(ngModel)]="toggleCalculo" slot="end"></ion-toggle>
      </ion-item>
      <div *ngIf="toggleCalculo" class="ion-padding">
        <ion-item *ngFor="let item of calculo"  lines="none">
          <ion-label>{{ item.name }}</ion-label>
          <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
          <ion-range *ngIf="item.selected" pin snaps min="0" max="5" [(ngModel)]="item.score"></ion-range>
        </ion-item>
      </div>

      <!-- Estmimulación sensorial -->
      <ion-item *ngIf="estimulacion.length > 0">
        <ion-label>Estimulación Sensorial</ion-label>
        <ion-toggle [(ngModel)]="toggleEstimulacion" slot="end"></ion-toggle>
      </ion-item>
      <div *ngIf="toggleEstimulacion" class="ion-padding">
        <ion-item *ngFor="let item of estimulacion"  lines="none">
          <ion-label>{{ item.name }}</ion-label>
          <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
          <ion-range *ngIf="item.selected" pin snaps min="0" max="5" [(ngModel)]="item.score"></ion-range>
        </ion-item>
      </div>

      <!-- Lenguaje -->
      <ion-item *ngIf="lenguaje.length > 0">
        <ion-label>Lenguaje</ion-label>
        <ion-toggle [(ngModel)]="toggleLenguaje" slot="end"></ion-toggle>
      </ion-item>
      <div *ngIf="toggleLenguaje" class="ion-padding">
        <ion-item *ngFor="let item of lenguaje" lines="none">
          <ion-label>{{ item.name }}</ion-label>
          <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
          <ion-range *ngIf="item.selected" pin snaps min="0" max="5" [(ngModel)]="item.score"></ion-range>
        </ion-item>
      </div>

      <!-- Memoria -->
      <ion-item *ngIf="memoria.length > 0">
        <ion-label>Memoria</ion-label>
        <ion-toggle [(ngModel)]="toggleMemoria" slot="end"></ion-toggle>
      </ion-item>
      <div *ngIf="toggleMemoria" class="ion-padding">
        <ion-item *ngFor="let item of memoria"  lines="none">
          <ion-label>{{ item.name }}</ion-label>
          <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
          <ion-range *ngIf="item.selected" pin snaps min="0" max="5" [(ngModel)]="item.score"></ion-range>
        </ion-item>
      </div>

      <!-- Reminiscencia -->
      <ion-item *ngIf="reminiscencia.length > 0">
        <ion-label>Reminiscencia</ion-label>
        <ion-toggle [(ngModel)]="toggleReminiscencia" slot="end"></ion-toggle>
      </ion-item>
      <div *ngIf="toggleReminiscencia" class="ion-padding">
        <ion-item *ngFor="let item of reminiscencia" lines="none">
          <ion-label>{{ item.name }}</ion-label>
          <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
          <ion-range *ngIf="item.selected" pin snaps min="0" max="5" [(ngModel)]="item.score"></ion-range>
        </ion-item>
      </div>
    </ion-list>

    <div class="margen-superior">
      <ion-list-header>Detalles</ion-list-header>
      <ion-card class="fondo-blanco">
        <ion-card-content class="fondo-blanco">
          <ion-item class="fondo-blanco">
            <ion-label class="fondo-blanco" position="stacked">Observaciones</ion-label>
            <ion-textarea class="fondo-blanco" [(ngModel)]="observation"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-button class="botonSalir" expand="full" (click)="salirSinArgumentos()">
            Salir
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="botonAceptar" expand="full" (click)="EnviarDatos()">
            Enviar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div  *ngIf="emptyDailyRecords === true">
    <div class="margen">
      <ion-label>No existe un programa diario</ion-label>
      <img src="assets\img\folder.png" class = "ajuste-tamaño">
      <div class="contenedor margen">
        <ion-button (click)="salirSinArgumentos()">
          Salir
        </ion-button>
      </div>

    </div>
  </div>

</ion-content>