<ion-header no-border>
  <ion-toolbar>
    <ion-title>Humor Terapia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ paciente.patient.img }}" />
      </ion-avatar>
      <ion-label>{{ paciente.patient.name + ' ' + paciente.patient.lastName }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Humor antes de terapia</ion-label>
    </ion-list-header>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="4" *ngFor="let estado of estados">
          <ion-button (click)="gethumorAntes( estado )" expand="full">
            {{ estado }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Hora Inicio</ion-label>
      <ion-datetime display-format="HH:mm A" 
                    picker-format="HH:mm A" 
                    value="1990-02-19T07:43Z"
                    [(ngModel)]="horaInicio"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Hora Fin</ion-label>
      <ion-datetime display-format="HH:mm A" 
                    picker-format="HH:mm A" 
                    value="1990-02-19T07:43Z"
                    [(ngModel)]="horaFin"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let item of actividades">
      <ion-label>{{ item.name }}</ion-label>
      <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
      <ion-range *ngIf="item.selected"
                  pin
                  snaps
                  min="0" max="5"
                  [(ngModel)]="item.score">
        <ion-icon size="small" slot="start" name="star" color="medium"></ion-icon>
        <ion-icon slot="end" name="star" color="medium"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-list-header>
      <ion-label>Humor despues de terapia</ion-label>
    </ion-list-header>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="4" *ngFor="let estado of estados">
          <ion-button (click)="gethumorDespues( estado )" expand="full">
            {{ estado }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="salirSinArgumentos()" expand="full" color="secondary">
          Salir
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="salirConArgumentos()" expand="full">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
