<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Avisos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assistance">
      <ion-icon name="color-palette"></ion-icon>
      <ion-label>Asistencia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="technical-support">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Bitácora</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="signs">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Registros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="summary">
      <ion-icon name="pie"></ion-icon>
      <ion-label>Resumen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
<ion-app>
<ion-router-outlet></ion-router-outlet>
</ion-app>
