<ion-header no-border>
  <ion-toolbar>
    <ion-title>Intervención Terapéutica</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-item>
            <ion-label>Ubicación</ion-label>
            <ion-toggle slot="end" 
                        [(ngModel)]="toggleUbicacion"></ion-toggle>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-toggle slot="end" 
                        [(ngModel)]="toggleFecha"></ion-toggle>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-label>Tipo de Actividades</ion-label>
    </ion-list-header>

    <!-- Atención -->
    <ion-item *ngIf="atencion.length > 0">
      <ion-label>Atención</ion-label>
      <ion-toggle [(ngModel)]="toggleAtencion"
                  slot="end"></ion-toggle>
    </ion-item>
    <div *ngIf="toggleAtencion" 
         class="ion-padding">
      <ion-item *ngFor="let item of atencion">
        <ion-label color="primary">{{ item.name }}</ion-label>
        <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
        <ion-range *ngIf="item.selected"
                    pin
                    snaps
                    min="0" max="5"
                    [(ngModel)]="item.score"></ion-range>
      </ion-item>
    </div>

     <!-- Calculo -->
     <ion-item *ngIf="calculo.length > 0">
      <ion-label>Cálculo</ion-label>
      <ion-toggle [(ngModel)]="toggleCalculo"
                  slot="end"></ion-toggle>
    </ion-item>
    <div *ngIf="toggleCalculo" 
         class="ion-padding">
      <ion-item *ngFor="let item of calculo">
        <ion-label color="primary">{{ item.name }}</ion-label>
        <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
        <ion-range *ngIf="item.selected"
                    pin
                    snaps
                    min="0" max="5"
                    [(ngModel)]="item.score"></ion-range>
      </ion-item>
    </div>

    <!-- Estmimulación sensorial -->
    <ion-item *ngIf="estimulacion.length > 0">
      <ion-label>Estimulación Sensorial</ion-label>
      <ion-toggle [(ngModel)]="toggleEstimulacion"
                  slot="end"></ion-toggle>
    </ion-item>
    <div *ngIf="toggleEstimulacion" 
         class="ion-padding">
      <ion-item *ngFor="let item of estimulacion">
        <ion-label color="primary">{{ item.name }}</ion-label>
        <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
        <ion-range *ngIf="item.selected"
                    pin
                    snaps
                    min="0" max="5"
                    [(ngModel)]="item.score"></ion-range>
      </ion-item>
    </div>

    <!-- Lenguaje -->
    <ion-item *ngIf="lenguaje.length > 0">
      <ion-label>Lenguaje</ion-label>
      <ion-toggle [(ngModel)]="toggleLenguaje"
                  slot="end"></ion-toggle>
    </ion-item>
    <div *ngIf="toggleLenguaje" 
         class="ion-padding">
      <ion-item *ngFor="let item of lenguaje">
        <ion-label color="primary">{{ item.name }}</ion-label>
        <ion-toggle 
                    [(ngModel)]="item.selected"></ion-toggle>
        <ion-range *ngIf="item.selected"
                    pin
                    snaps
                    min="0" max="5"
                    [(ngModel)]="item.score"></ion-range>
      </ion-item>
    </div>

    <!-- Memoria -->
    <ion-item *ngIf="memoria.length > 0">
      <ion-label>Memoria</ion-label>
      <ion-toggle [(ngModel)]="toggleMemoria"
                  slot="end"></ion-toggle>
    </ion-item>
    <div *ngIf="toggleMemoria" 
         class="ion-padding">
      <ion-item *ngFor="let item of memoria">
        <ion-label color="primary">{{ item.name }}</ion-label>
        <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
        <ion-range *ngIf="item.selected"
                    pin
                    snaps
                    min="0" max="5"
                    [(ngModel)]="item.score"></ion-range>
      </ion-item>
    </div>

    <!-- Reminiscencia -->
    <ion-item *ngIf="reminiscencia.length > 0">
      <ion-label>Reminiscencia</ion-label>
      <ion-toggle [(ngModel)]="toggleReminiscencia"
                  slot="end"></ion-toggle>
    </ion-item>
    <div *ngIf="toggleReminiscencia" 
         class="ion-padding">
      <ion-item *ngFor="let item of reminiscencia">
        <ion-label color="primary">{{ item.name }}</ion-label>
        <ion-toggle [(ngModel)]="item.selected"></ion-toggle>
        <ion-range *ngIf="item.selected"
                    pin
                    snaps
                    min="0" max="5"
                    [(ngModel)]="item.score"></ion-range>
      </ion-item>
    </div>
  </ion-list>

  <div>
    <ion-list-header>Detalles</ion-list-header>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Observaciones</ion-label>
          <ion-textarea [(ngModel)]="observation"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button color="secondary" expand="full" (click)="salirSinArgumentos()">
          Salir
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" expand="full" (click)="EnviarDatos()">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
