<ion-header no-border>
  <ion-toolbar class="ion-padding">
    <ion-title class="ion-text-center">Intervención Terapéutica</ion-title>
    <ion-segment #iSegmentRegistros
                        (ionChange)="segmentChangedRegistros( $event )"
                        mode="md" [(ngModel)]="yudsegment">
            <ion-segment-button value="programa">
              <ion-label>Programa Diario</ion-label>
            </ion-segment-button>
            <ion-segment-button value="desempeno">
              <ion-label>Desempeño</ion-label>
            </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="yudsegment">
    <ion-list *ngSwitchCase="'programa'">
      <ion-item>Tipo de Actividades</ion-item>
      <ion-button color="secondary" expand="full" (click)="salirConArgumentos()">
        Enviar
      </ion-button>
    </ion-list>
    <ion-list *ngSwitchCase="'desempeno'">
      <app-searchbar (post)="eventListener( $event )"></app-searchbar>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <!-- Ubicación -->
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <ion-label>Ubicación</ion-label>
                  <ion-img [src]="image"></ion-img><ion-toggle [(ngModel)]="toggleUbicacion"></ion-toggle>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <!-- Ubicación -->
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                <ion-label>Fecha</ion-label>
                  <ion-img [src]="image"></ion-img><ion-toggle [(ngModel)]="toggleFecha"></ion-toggle>
                </ion-card-title>
              </ion-card-header>
            </ion-card>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>Tipo de Actividades</ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>Obervaciones</ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col size="6">
            <ion-button color="primary" expand="full" (click)="EnviarDatos()">
              Enviar
            </ion-button>
          </ion-col>
          <ion-col size="3">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>
