<ion-header no-border>
  <ion-toolbar class="ion-padding">
    <ion-title class="ion-text-center">Intervención Terapéutica</ion-title>
    <ion-segment #iSegmentRegistros
                        (ionChange)="segmentChangedRegistros( $event )"
                        mode="md" [(ngModel)]="yudsegment">
            <ion-segment-button value="programa">
              <ion-label>Programa Diario</ion-label>
            </ion-segment-button>
            <ion-segment-button value="desempeno">
              <ion-label>Desempeño</ion-label>
            </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="yudsegment">
    <ion-list *ngSwitchCase="'programa'">
      <ion-item>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12"> <ion-label color="secondary">Tipo de Actividades</ion-label></ion-col>
          </ion-row>
          <!-- Actividad Atención-->
          <ion-row>
            <ion-col size="6">
              <ion-label color="secondary">Atención</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-toggle [(ngModel)]="toggleAtencion"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-list *ngIf="toggleAtencion" >
                <ion-item *ngFor="let item of atencion"> 
                  <ion-label>{{ item.name }}</ion-label><ion-toggle (ionChange)="selectedActivity( item)" [(ngModel)]="item.selected"></ion-toggle>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <!-- Actividad Cálculo -->
          <ion-row>
            <ion-col size="6">
              <ion-label color="secondary">Cálculo</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-toggle [(ngModel)]="toggleCalculo"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-list *ngIf="toggleCalculo" >
                <ion-item *ngFor="let item of calculo"> 
                  <ion-label>{{ item.name }}</ion-label><ion-toggle (ionChange)="selectedActivity( item)" [(ngModel)]="item.selected"></ion-toggle>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <!-- Actividad Estimulación sensorial -->
          <ion-row>
            <ion-col size="6">
              <ion-label color="secondary">Estimulación sensorial</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-toggle [(ngModel)]="toggleEstimulacion"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-list *ngIf="toggleEstimulacion" >
                <ion-item *ngFor="let item of estimulacion"> 
                  <ion-label>{{ item.name }}</ion-label><ion-toggle (ionChange)="selectedActivity( item)" [(ngModel)]="item.selected"></ion-toggle>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <!-- Actividad Lenguaje -->
          <ion-row>
            <ion-col size="6">
              <ion-label color="secondary">Lenguaje</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-toggle [(ngModel)]="toggleLenguaje"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-list *ngIf="toggleLenguaje" >
                <ion-item *ngFor="let item of lenguaje"> 
                  <ion-label>{{ item.name }}</ion-label><ion-toggle (ionChange)="selectedActivity( item)" [(ngModel)]="item.selected"></ion-toggle>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <!-- Actividad Memoria -->
          <ion-row>
            <ion-col size="6">
              <ion-label color="secondary">Memoria</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-toggle [(ngModel)]="toggleMemoria"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-list *ngIf="toggleMemoria" >
                <ion-item *ngFor="let item of memoria"> 
                  <ion-label>{{ item.name }}</ion-label><ion-toggle (ionChange)="selectedActivity( item)" [(ngModel)]="item.selected"></ion-toggle>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <!-- Actividad Reminiscencia -->
          <ion-row>
            <ion-col size="6">
              <ion-label color="secondary">Reminiscencia</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-toggle [(ngModel)]="toggleReminiscencia"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-list *ngIf="toggleReminiscencia" >
                <ion-item *ngFor="let item of reminiscencia"> 
                  <ion-label>{{ item.name }}</ion-label><ion-toggle (ionChange)="selectedActivity( item)" [(ngModel)]="item.selected"></ion-toggle>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"></ion-col>
            <ion-col size="4">
              <ion-button color="secondary" expand="full" (click)="salirConArgumentos()">
                Enviar
              </ion-button>
            </ion-col>
            <ion-col size="4"></ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>
      
    </ion-list>
    <ion-list *ngSwitchCase="'desempeno'">
      <app-searchbar (post)="eventListener( $event )"></app-searchbar>
      <ion-item *ngFor="let paciente of pacientes" (click)="openModal( paciente )">
        <ion-avatar slot="start">
          <img src="{{ paciente.patient.img }}" />
        </ion-avatar>
        <ion-label class="ion-text-capitalize">{{ paciente.patient.name + ' ' + paciente.patient.lastName }}</ion-label>
        <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
      </ion-item>
     
    </ion-list>
  </div>
  <!--<ion-list>
    <ion-item *ngFor="let item of memoria">
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
  </ion-list>-->
</ion-content>
