<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab-avisos">
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-label>Avisos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab-activacion">
            <ion-icon name="walk"></ion-icon>
            <ion-label>Activación</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab-bitacora">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>Bitácora</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="usuarioCoordinador == 'true'">
            <app-popover-rol></app-popover-rol>
        </ion-tab-button>

        <ion-tab-button (click)="cerrarSesion()">
            <ion-icon name="log-out"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>