<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="openModal()">Lista</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img
          style="display:block;margin:auto;"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8skRkf_Bl86UuKbzHvsSzPQ35ZJlsbbXVnIvOd8LWCc4JLG2P"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
